.user_header
  %a.avatar{:href=>"#"}
    - if user.avatar.nil?
      = image_tag("/images/main/profile/stub-user-middle.gif", :title => "user avatar")
    - else
      = image_tag(user.avatar.file.url(:mini))
  %h2.username
    = link_to user_profile_path(user) do
      = title user.name
  .clear