.tabbable
  %ul.nav.nav-tabs
    %li
      %a{:href=>"#"}
        %span Информация
    %li
      %a{:href=>"#"}
        %span Созданные циклы
    %li
      %a{:href=>"#"}
        %span Участие в проектах
.clear