#profile
  = render :partial => 'header',:locals => { :user => @user }
  .content-left
    = render :partial => 'menu',:locals => { :user => @user }
    .user-profile
      #articles-list.cycle-list.ujs-pagination
        = render 'user_articles_block'


- content_for(:right_bar) do
  = render partial: 'offices/right_bar'