#profile
  = render :partial => 'header',:locals => { :user => @user }
  .content-left
    = render :partial => 'menu',:locals => { :user => @user }
    .user-profile
      .projects-list
        Сообщество unbe пока ещё не готово к проектам


- content_for(:right_bar) do
  = render partial: 'offices/right_bar'