- if @contents.blank?
  %p= t("NO_CONTENTS_FOUND")
- else
  %ul.items-card-list
    - @contents.each do |content|
      %li.item
        = render :partial => 'common/cool_block', locals: { item: content, collection: 'contents' }

= paginate @contents, :remote => true

:javascript
  $(function () {
    $('.fotorama').fotorama();
  });