- unless content.nil?
  %h3 Случайная работа
  .fotorama{data:{width:'390px',ratio:"800/600"}}
    %a{href: content.src}
  .clear
  %br
  .more-info
    = link_to content_base_content_path(content) do
      =t 'Посмотреть'
  .more-info
    = link_to content_base_content_path(content), itemprop:"url" do
      =t 'COMMENTS', count: content.comments_count, comment: Russian::pluralize(content.comments_count, 'комментарий','комментария','комментариев')