.row-fluid
  .span4
    %h4.section=title 'Работы'
  .span5
    .pull-right
      - if can? :create, Gallery
        = link_to new_gallery_path, :class=>'btn btn-primary' do
          %i
          =t(:NEW_GALLERY)
  .span3.middle#article-search
    = render :partial => "common/search_control", :locals => { :current_action_path => content_base_contents_path }

#index-contents.ujs-pagination
  = render :partial => 'contents_short_block'

- content_for(:right_bar) do
  = render :partial => 'articles/index_bar'