- keywords "опубликовать ролик, опубликовать видеоролик, раскрутить видео, поделиться своей работой, обсудить свою работу"
- description "На unbe вы можете поделиться своими видео работами и роликами, получить конструктивную критику и помощь в выполнении своих работ"

= render partial: 'common/short_list_header', locals: { current_action: lambda { |*args| articles_path(*args) }, model: Content::BaseContent, list_title:'Работы' }

#index-contents.ujs-pagination
  = render :partial => 'contents_short_block'

- content_for(:right_bar) do
  = render :partial => 'articles/index_bar'