$("#comments").updateHtml("#{escape_javascript(render :partial => 'common/comments_block', :locals => { :commentable => @content } )}");
$(".vote-#{@content._id}").updateHtml("#{escape_javascript(render :partial => 'common/vote_block', :locals => { :votable => @content } )}");