- unless elements.nil?
  .col-md-8
    %table.articles-short.table-striped
      - elements.each do |element|
        %tr
          %td
            = link_to polymorphic_path(element) do
              %span= element.title