.check-status
  - if is_true
    %i.fa.fa-check{title: title, data: {toggle: 'tooltip', placement:'top'}}
  - else
    %i.fa.fa-warning{title: "не #{title}", data: {toggle: 'tooltip', placement:'top'}}

