.row.list-header
  .col-md-5
    %h4=title 'Неподтвержденные работы'
  .col-md-4
  .col-md-3.middle
    .pull-right
      = render :partial => "common/search_control", locals: { current_action_path: non_approved_contents_office_path }

#contents.contents.ujs-pagination
  = render 'non_approved_contents_block'

- content_for(:right_bar) do
  = render :partial => 'right_bar'
