- param_name ||= :page
- if articles.blank?
  %p= t("NO_ARTICLES_FOUND")
- else
  %ul.items-card-list
    - articles.each do |article|
      %li.item
        = render 'common/cool_block', item: article, collection: 'articles'

= paginate articles, remote: true, param_name: param_name