.sidebar-news
  .commercial
    = render :partial => 'common/commercial_block'
  .right-bar
    = render 'articles/popular'

  .right-bar
    = render 'contents/tiny_block', content: Content::BaseContent.random_entry
  .clear

  .right-bar
    = render 'users/active_users'
