%ul.nav.nav-tabs.nav-stacked
  %li
    =link_to main_app.new_article_path do
      Написать статью
  %li
    =link_to main_app.new_cycle_path do
      Создать цикл

%ul.nav.nav-tabs.nav-stacked
  %li
    =link_to main_app.articles_path do
      Все статьи
  - article_areas.each do |article_area|
    %li
      =link_to main_app.by_area_articles_path(article_area: article_area) do
        =t article_area.title