.row-fluid
  .span4
    %h4.section=title 'Новости'
  .span8
    .pull-right#article-search
      = render :partial => "common/search_control", :locals => { :current_action_path => news_articles_path }

#news.ujs-pagination
  = render :partial => 'articles_short_block'

- content_for(:right_bar) do
  = render :partial => 'index_bar'
