- keywords "новости кино, новости сериалов, киноиндустрия статьи, новости сообщества unbe, статьи про кино"
- description "unbe - независимое творческое сообщество, цель которого - сделать систему кинопроизводства в России открытой, а также поднять уровень компетенции и качество работ и роликов на новый уровень"
#news.ujs-pagination
  = render :partial => 'articles_short_block'

- content_for(:right_bar) do
  = render 'index_bar'
