= render :partial => 'articles/article_block', :locals => { :article => @article }

#comments.ujs-pagination

= render :partial => 'common/comment_form', :locals => { :commentable => @article }

- content_for(:right_bar) do
  = render :partial => 'index_bar'

- content_for(:head) do
  %meta{name:"fragment",content:"!"}
