%ul.nav.nav-tabs.nav-stacked
  %li
    %a{:href=>"#"}
      Подтвердить статьи

%ul.nav.nav-tabs.nav-stacked
  %li
    =link_to main_app.office_path do
      Личный кабинет
  %li
    =link_to main_app.office_articles_path do
      Мои статьи
  %li
    =link_to main_app.office_cycles_path do
      Мои циклы
  %li
    %a{:href=>"#"}
      Мои проекты
  %li
    %a{:href=>"#"}
      Избранное
  %li
    %a{:href=>"#"}
      Профиль
  %li
    %a{:href=>"#"}
      Настройки

%ul.nav.nav-tabs.nav-stacked
  %li
    =link_to main_app.users_path do
      Пользователи
