- if current_user.has_role? :ADMIN or current_user.has_role? :MODERATOR
  %ul.nav.nav-tabs.nav-stacked
    %li
      =link_to main_app.non_approved_articles_path do
        Подтвердить статьи

- if current_user.has_role? :ADMIN
  %ul.nav.nav-tabs.nav-stacked
    %li
      =link_to main_app.users_path do
        Пользователи

%ul.nav.nav-tabs.nav-stacked
  %li
    =link_to main_app.office_path do
      Личный кабинет
  %li
    =link_to main_app.office_articles_path do
      Мои статьи
  %li
    =link_to main_app.office_cycles_path do
      Мои циклы
  %li
    %a{:href=>"#"}
      Мои проекты
  %li
    %a{:href=>"#"}
      Избранное
  %li
    = link_to user_profile_path(current_user) do
      Профиль
  %li
    = link_to edit_profile_path do
      Настройки