- if is_true
  .thumb
    =image_tag( "/images/article/yes.jpg",:width=>"22", :height=>"22", :title=>"#{title}")
- else
  .thumb
    =image_tag( "/images/article/no.jpg",:width=>"30", :height=>"30", :title=>"не #{title}")
