- if is_true
  .thumb
    =image_tag( "/images/article/yes.png",:width=>"40", :height=>"40", :title=>"#{title}")
- else
  .thumb
    =image_tag( "/images/article/no.png",:width=>"40", :height=>"40", :title=>"не #{title}")
