.row-fluid
  .span3
    %h4.section-small=title 'Мои статьи'
  .span5
    .pull-right
      = link_to new_article_path, :class=>'btn btn-primary' do
        %i
        =t(:NEW_ARTICLE)
  .span3
    = render :partial => "common/search_control", :locals => { :current_action_path => office_articles_path(scope:'current_user') }

#articles.articles.ujs-pagination
  = render :partial => 'articles_block'

- content_for(:right_bar) do
  = render :partial => 'right_bar'
