.row-fluid
  .span3
    %h4.section-small=title 'Мои циклы'
  .span5
    .pull-right
      = link_to new_cycle_path, :class=>'btn btn-primary' do
        %i
        =t(:NEW_CYCLE)
  .span3
    = render :partial => "common/search_control", :locals => { :current_action_path => office_cycles_path(scope:'current_user') }

#cycles.cycles.ujs-pagination
  = render :partial => 'cycles_block'

- content_for(:right_bar) do
  = render :partial => 'right_bar'
