.row.list-header
  .col-md-11
    .pull-right.col-md-3
      = render :partial => "common/search_control", :locals => { :current_action_path => users_path }

#users.ujs-pagination
  = render 'users_block'

- content_for(:right_bar) do
  = render partial: 'offices/right_bar'

