= render :partial => 'cycle_block',:locals => { :cycle => @cycle }

#cycle_articles.ujs-pagination

.clear

#comments.ujs-pagination
  = render :partial => 'common/comments_block', :locals => { :commentable => @cycle }

= render :partial => 'common/comment_form', :locals => { :commentable => @cycle }

- content_for(:right_bar) do
  = render :partial => 'articles/index_bar'
