$("#comments").html("#{escape_javascript(render 'common/comments_block', commentable: @cycle )}");
$("#cycle_articles").html("#{escape_javascript(render 'articles/index_articles_block', articles: @articles, param_name: :articles_page )}");