= render :partial => 'cycle_block',:locals => { :cycle => @cycle }

.shifted
  - @cycle.ordered_articles.each do |article|
    = render :partial => 'articles/article_block',:locals => { :article => article }