%ul.nav.nav-tabs.nav-stacked
  %li
    =link_to main_app.achieving_community_path do
      Достижения сообщества
  %li
    =link_to main_app.stats_community_path do
      Статистика
  %li
    =link_to main_app.info_community_path(system_tag: :about) do
      О сообществе
  %li
    =link_to main_app.info_community_path(system_tag: :rules) do
      Правила

  %li
    =link_to main_app.info_community_path(system_tag: :help_us) do
      Правила