.sidebar
  %h3.right-bar
    Информация
  %ul.navigation
    %li
      =link_to main_app.achieving_community_path do
        Достижения сообщества

    %li
      =link_to main_app.info_community_path(system_tag: :about) do
        О сообществе

    %li
      =link_to main_app.info_community_path(system_tag: :rules) do
        Правила

    %li
      =link_to main_app.info_community_path(system_tag: :help_us) do
        Поддержать

  %h3.right-bar
    Помощь
  %ul.navigation
    %li
      =link_to main_app.info_community_path(system_tag: :faq) do
        Вопросы
    %li
      =link_to main_app.info_community_path(system_tag: :articles) do
        Статьи
    %li
      =link_to main_app.info_community_path(system_tag: :cycles) do
        Циклы
    %li
      =link_to main_app.info_community_path(system_tag: :galleries) do
        Работы
    %li
      =link_to main_app.info_community_path(system_tag: :comments) do
        Комментарии
    %li
      =link_to main_app.info_community_path(system_tag: :projects) do
        Проекты
    %li
      =link_to main_app.info_community_path(system_tag: :achiev) do
        Достижения