%h4=title "Достижения сообщества"
.description
  Все деяния, малые или большие, великие или незначительные собраны в этом разделе. Какой бы вклад вы не внесли в сообщество - ничего не будет забыто.
.clear
= render :partial => 'menu'
.content-left
  В данном разделе достижения ещё не составлены


- content_for(:right_bar) do
  = render :partial => 'right_bar'