%span
  - if item.is_updated
    %i.fa.fa-pencil{title: t('ARTICLE_CHANGED')}
  - if item.garbage?
    %i.fa.fa-trash-o{title: t('ARTICLE_TRASH')}
%span
  - unless item.published?
    = link_to publish_article_path(item) do
      = render :partial => 'yes_no',:locals => { :is_true => item.published?, :title=>"опубликована"}
  - else
    = render :partial => 'yes_no',:locals => { :is_true => item.published?, :title=>"опубликована"}
%span
  - if item.is_updated
    %i.fa.fa-refresh
  - else
    = render :partial => 'yes_no',:locals => { :is_true => item.approved?, :title=>"подтверждена"}