%span.big-span
  %i.fa.fa-pencil{data: {toggle: 'tooltip', placement:'top'}, title: t(:CONTAINS_ARTICLES, count: item.articles.count, items: Russian::pluralize(item.articles.count, 'статью', 'статьи','статей'))}
  = item.articles.count