- unless item.system?
  .options
    .btn-group
      %button.btn.btn-default{type:'button'}
        = link_to edit_cycle_path item do
          Изменить
      %button.btn.btn-default.dropdown-toggle{data:{toggle: "dropdown"}}
        %span.caret
      %ul.dropdown-menu
        %li
          = link_to 'Изменить', edit_cycle_path(item)
