- description = activity.parameters[:description] || activity.parameters['description']
- action, badge_name, badge = description.split(' ')
= t "#{action}_#{badge}"
= render 'common/badge', badge: badge_by_name(badge_name)