.single {
  background-color: ghostwhite;
  border: $bordered;
  border-radius: 4px;
  padding: 20px;
  .item-container {
    border-bottom: 1px dotted gray;
    padding-bottom: 15px;
    margin-bottom: 15px;
    .item-details {
      min-height: 20px;
      margin-top:10px;
    }
  }
}