.tags-list {
  display: block;
  [class^="icon-"] {
    margin-top: 3px;
  }
  span {
    color: desaturate(mediumBlue, 50);
    margin: 0 2px;
  }
  span:after {
    content: '|';
    margin-left: 2px;
    color: black;
  }
  span:last-child:after {
    content: '';
    margin: 0;
  }
}