- if activity.trackable.present?
  прокомментировал
  = t("ACTIVITY_#{activity.trackable.commentable.class.name.upcase}")
  = link_to activity.trackable.commentable_correct_title, activity.trackable.commentable
- else
  хотел что-то прокомментировать и передумал