= render :partial => 'gallery_block',:locals => { :gallery => @gallery }

- if can? :update, Gallery
  = render :partial =>  'new_content', :locals => { :gallery => @gallery, :included => true }
%br
#comments.ujs-pagination

= render :partial => 'common/comment_form', :locals => { :commentable => @gallery }


- content_for(:right_bar) do
  = render :partial => 'office/right_bar'