.badge-achievement{
  cursor: pointer;
  background-color: $header-hover;
  border: 1px solid $header-hover;
  padding-right: 7px;
  max-width: 180px;
  height:30px;
  margin: 5px 3px;
  i {
    position: relative;
    top: 2px;
    left: 2px;
    font-size: 16px;
    line-height: 20px;
  }
  .name{
    font-size: 12px;
    margin-left: 5px;
    display: inline-block;
    line-height: 20px;
  }
  &:hover{
    border:1px solid $header-background;
    background-color:$header-background;
    text-decoration:none;
  }
}

.community-badge{
  margin: 10px 0px;
  .col-md-8{
    margin-left: 5%;
  }
}

.bronze {
  color: #a38d65;
  -webkit-filter: contrast(120%);
}
.copper {
  color: #c27033;
  -webkit-filter: contrast(120%);
}
.silver{
  color: #CCCCCC;
  -webkit-filter: contrast(100%);
}
.gold{
  color: #dac210;
  -webkit-filter: contrast(120%);
}
.platinum{
  color: #EDEDEF;
  -webkit-filter: contrast(200%);
}