//http://paletton.com/#uid=63J1q0k6Y8F5DlP6AfWe06Xkl6l
$header-background: #25282e;
$header-selected: #626874;
$header-hover: #454A55;

$dark-blue: #0E1522;
$light-blue: #161B25;
$f1: #262f11;
$f2: #2D341D;
$link-color: #6f775f;
$link-hover: #2D341D;
$header-text-color: #ffffff;
$gray:#e6e6e6;
$date-gray: #ababab;

$btn-primary-color: $header-text-color;
$btn-primary-bg: $header-selected;
$btn-primary-border: $header-hover;