//http://paletton.com/#uid=63J1q0k6Y8F5DlP6AfWe06Xkl6l
$header-background: #25282e;
$header-selected: #626874;
$header-hover: #454A55;

$dark-blue: #0E1522;
$light-blue: #161B25;
$link-color: #262f11;
$link-hover: #2D341D;
$header-text-color: #ffffff;
$gray:#e6e6e6;
$date-gray: #ababab;