.rate-count{
  @extend .views-count;
  .count{
    display: inline;
  }
}

nav.pagination{
  overffloat: left;
}

.check-status{
  margin: 0px 5px;
  font-size: 14px;
  .fa-check{
    color: darkgreen;
  }
  .fa-warning{
    color: darkred;
  }
}