.rate-count{
  @extend .views-count;
  .count{
    display: inline;
  }
}

nav.pagination{
  overffloat: left;
}

.green{
  color: darkgreen;
}

.check-status{
  margin: 0px 5px;
  font-size: 1.4rem;
  .fa-check{
    @extend .green;
  }
  .fa-warning{
    color: darkred;
  }
}

.activity {
  border-bottom: $bordered;
  padding: 16px 0;
  em {
    color: #777;
    padding-left: 5px;
  }
  .logo{
    text-align: center;
    font-size: 2.4rem;
    color: #777;
    line-height: 36px;
  }
  .avatar{
    img{
      width: 25px;
      height: 25px;
    }
  }
  .badge{
    height: 28px;
    i{
      line-height: 20px;
      font-size: 1.2rem;
      top: 1px;
    }
    .name{
      font-size: 1rem;
      line-height: 20px;
    }
  }
  .pull-right{
    padding-top: 5px;
  }
}