<p>Уважаемый пользователь электронной почты <%= @email %>!</p>

<p>Вы можете подтвердить электронную почту своего аккаунта по ссылке ниже:</p>

<p><%= link_to 'Активировать мой аккаунт', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
