-if @article.nil?
  .description
    = t :NO_THIS_ARTICLE
- else
  = render :partial => 'article_block',:locals => { :article => @article }

- content_for(:right_bar) do
  = render :partial => 'right_bar'