.actions-info
  .inline-block{title: item_count_title(user, :have, :subscribers), data: {toggle: 'tooltip', placement:'top'}}
    %i.fa.fa-users
    = user.subscribers.count
  .inline-block{title: item_count_title(user, :create, :cycles), data: {toggle: 'tooltip', placement:'top'}}
    %i.fa.fa-folder-open-o
    = user.cycles.count
  .inline-block{title: item_count_title(user, :write, :articles), data: {toggle: 'tooltip', placement:'top'}}
    %i.fa.fa-leaf
    = user.articles.count
  .inline-block{title: item_count_title(user, :comment, :comments), data: {toggle: 'tooltip', placement:'top'}}
    %i.fa.fa-comment
    = user.comments.count