.badge.badge-achievement.badge-inverse.inline-block
  %i{class: "#{badge.custom_fields[:difficulty]} #{badge.custom_fields[:icon]}"}
  .name.inline-block{title: t(badge.description), data: {toggle: 'tooltip', placement:'top'}}= t(badge.name)