%script{async: true, src: '//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js'}
/ right bar
%ins{class:"adsbygoogle", style:"display:inline-block;width:250px;height:250px", data:{"ad-client"=>"ca-pub-8811140237598970", "ad-slot"=>"2088914642"}}
:javascript
  (adsbygoogle = window.adsbygoogle || []).push({});