/ right bar
%ins.adsbygoogle{style: 'display:block',data:{'ad-client' => 'ca-pub-8811140237598970', 'ad-slot'=>'6245907841', 'ad-format'=>"auto"}}

:javascript
  (adsbygoogle = window.adsbygoogle || []).push({});