= form_tag current_action_path, method: 'get', id: 'models_search', class: "form-search" do
  .input-group
    %span.input-group-addon
      %i.fa.fa-filter
    = text_field_tag :search, params[:search], class: "input-medium search-query", placeholder: t(:SEARCH)
    %span.input-append#clear-search
      %i.fa.fa-times.clear-search
