.row{style: 'margin-right: 0px; margin-top: 10px;'}
  .col-md-12.list-header.sticky-header.short-list-header
    .row{style: 'margin-right: 0px;'}
      .col-md-4
        %h4.section-small.no-bottom-margin= title list_title
      .col-md-5.center-group
        = render partial: "common/sort_control", locals: { current_action: current_action, model: model }

      .col-md-3{style: 'padding-right: 0px;'}
        .pull-right
          = render "common/search_control", current_action_path: current_action.call