= javascript_include_tag '/tinymce/tinymce.min.js', :media => "all"
:javascript
  tinymce.init({
      selector: "textarea",
      menubar : false,
      language : 'ru',
      width: 550,
      height: 300
   });