- unless taggable.tags.blank?
  %span.tags-list
    %i.fa.fa-tags
    - for tag in taggable.tags
      %span
        - if defined? current_action
          = link_to current_action.call(:search => tag) do
            = tag
        - else
          = tag