.tag-input
  = text_field_tag :tag_list, nil, class: "select2tags",
    placeholder: 'Введите теги, разделяя их запятыми', data: { tags: model.tag_list.to_json }
.actions
  .btn.btn-sm.apply Применить
  or
  .btn.btn-sm.btn-link.cancel Отмена