:javascript
    _editor_url = "/xinha/"
    _editor_lang = "ru";
    _editor_skin = "silva";
    _editor_icons = "Classic";

= javascript_include_tag '/xinha/XinhaCore', :media => "all"
= javascript_include_tag '/xinha/XinhaConfig', :media => "all"