:javascript
    _editor_url = "/assets/xinha/"
    _editor_lang = "ru";
    _editor_skin = "silva";
    _editor_icons = "classic";

= javascript_include_tag '/assets/xinha/XinhaCore', :media => "all"
= javascript_include_tag '/assets/xinha/XinhaConfig', :media => "all"