= javascript_include_tag '/tinymce/tinymce.min.js', :media => "all"
:javascript
  tinymce.init({
      selector: "textarea#tmpContent",
      language : 'ru',
      width: 750,
      height: 550,
      plugins: [
               "advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker",
               "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
               "save table contextmenu directionality template paste textcolor"
      ],
      invalid_elements: "script"
   });