%footer.footer
  %p (c) All rights reserved. unbe is the free creative association, 2013
  .row
    .span2 Follow unbe on:
    .span1
      = link_to "YouTube", "http://www.youtube.com/user/unbecinema"
    .span1
      = link_to "Twitter", "http://twitter.com/unbe_"
    .span1
      = link_to "vk.com"," http://vk.com/unbecinema"
    .span6
