.row-fluid
  #announcement.span8.offset1
    #myCarousel.carousel.slide
      %ol.carousel-indicators
        %li{ :data => { :target => "#myCarousel", :slide => { :to => 0} } }
        %li{ :data => { :target => "#myCarousel", :slide => { :to => 0} } }
        %li{ :data => { :target => "#myCarousel", :slide => { :to => 0} } }
    .carousel-inner
      .active.item
        %a{:href => "http://youtu.be/e4pUKdY-8Mc" }
          = image_tag( 'images/banners/sworld.png', :alt=>"Разумный мир")
          .carousel-caption
            %h4 Разумный мир
            %p Мир вокруг нас живет и дышит, и даже у камней есть душа и чувства
      .item
        %a{:href => "http://www.youtube.com/playlist?list=PLd5PAyjwtCfs417ZtzSqEfT-CQZF0XU11"}
          = image_tag( 'images/banners/sworld.png', :alt=>"Проект Жемчужина")
          .carousel-caption
            %h4 Проект жемчужина
            %p За любой работой скрывается жемчужина
      .item
        %a{:href => "http://www.youtube.com/playlist?list=PLd5PAyjwtCfvzcr7jXz4V_4jvNnQefUEq"}
          = image_tag( "images/banners/ae.png", :alt=>"Уроки Adobe After Effects")
          .carousel-caption
            %h4 Adobe After Effects: Уроки
            %p Несколько простых шагов - и ваши видео преображаются
  :javascript
    $('.carousel').carousel({
        interval: 30000
    })
  #logo.span3
    = image_tag("images/main/unbe.png", :alt => "unbe logo")


