!!!
%html
  %head
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    %script{ async: true, src: '//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js' }
    %link{ rel:'shortcut icon',href:'/images/favicon.ico' }
  %body
